/* Module: content - high-level styles for the main content. */

.site-content {
    padding: 0px 10px;
}

.content header h1 {
    margin-top: 10px;
}

.content header {
    width: 100%;
}

.home .site-content {
    display: block;
    padding: 0;
}

.entry-header > .entry-title {
    margin-bottom: 0;
}

.entry-header p {
    margin-top: 0;
}

.archive-box {
    margin: 5px 0;
    background: $yellow;
    padding: 10px;
    border: 2px solid #000;
    width: 100%;
}

.archive-box h2 {
    margin: 0;
}

.archive-box h2 a:hover {
    color: $yellow;
    background: #000;
}

.audio p {
    margin: 0;
}

@media screen and (min-width: 800px) {
    .site-content {
        display: flex;
        align-items: flex-start;
    }
}