/* Partial: homepage - styles specific to the homepage */

.home-page-section {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    background: #222;
    color: #fff;
}

.home-page-section h2 {
    order: 1;
    margin: 0;
}

.home-page-section p {
    order: 2;
}

.home-page-section .float-right {
    order: 3;
    margin: 0;
    border: 5px solid $yellow;
}

.home-page-section .right {
    order: 4;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .home-page-section {
        display: block;
    }
    
    .home-page-section .float-right {
        float: right;
        width: 50%;
        margin: 0 0 10px 10px;
    }
    
    .home-page-section:nth-of-type(even) {
        background: $yellow;
    }
}